<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
  <style>
    .potato-container{
      margin-left: 500px;
      margin-right: 500px;
    }
  </style>
	<title>rickroll blocker</title>
</head>

<body>
	<div class="container">
		<h1>rickroll blocker</h1>
		<h3>Block rickrolls, for good.</h3>
    <hr>
    <h4>We use groundbreaking technology to protect you from the hidden dangers of links, rickrolls.</h4>
    <a href="https://rickrolled.com">Learn more</a>
    <hr>
    <img src="https://imgs.smoothradio.com/images/191589?crop=16_9&width=500&relax=1&signature=nwX7WJP0xZsTvGOl1zN-itjDWCI=" class="rounded">
    <h1>How it works</h1>
    <p>We monitor every client request to a webpage, send it to our servers to detect if it's a rickroll. the server sends a response baack to the client to tell if it's a rickroll. if its a rickroll we warn the user before loading the page.</p>
    <h3>Privacy stuff</h3>
    We never collect any data, personal data, other random data. NFT.
    <hr>
    <a type="button" class="btn btn-warning btn-lg btn-block" href="{% url 'install' %}">Block Rickrolls For Good!</a>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous">
	</script>
</body>

</html>